.mc-main {
    padding: 24px;
    border-radius: 8px;
    background-color: transparent;
    margin-top: -40px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  
  @media (max-width: 575px) {
    .mc-main {
      padding: 24px 15px;
      margin-top: 72px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  
  .mc-main.active {
    margin-left: 230px;
  }
  
  @media (max-width: 991px) {
    .mc-main.active {
      margin-left: 45px;
    }
  }
  
  @media (max-width: 575px) {
    .mc-main.active {
      margin-left: 0px;
    }
  }