*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;    
}

.home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
}
.home .card{
        display: block;
        flex-direction: column;
        height: 280px;
        width: 330px;
        padding: 10px;
}
.home .card .cardimage{
        height: 100px;
        width: 320px;
        border-radius: 10px;
}
.home .card .cardimage .cardvedio{
        border-radius: 10px;
}

.home .card .cardtitle{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

.home .card .cardtitle .cardtag{ 
        font-weight: 800;
font-size: 15px;
text-transform: capitalize;
}
.home .card .cardchan{
        font-weight: 600;
        font-size: 15px;
        text-transform: capitalize;
        padding-top: 15px;  
}
.home .card .cardend{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}


.short {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 20px;
}

.short .shortleft{
display: flex;
flex-direction: column;
/* align-items: flex-start; */
/* width: 100%; */
}
.short .shortleft .shortvedio{
       margin-top: -30px;
        height: 500px;
        width: 370px;
        border-radius: 10px;
}
 .shortleftti{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        color: white;
        z-index: 999;
        /* background-color: black; */
        margin-top: -80px;
}

.short .shortright{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
}
.short .shortright .shortriicon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px; 
}

.short .shortright .shortriicon .righticon{
        height: 3rem;
        width: 3rem;
        background-color: rgb(212, 212, 212);
        border-radius: 50%;
        padding: 10px;

}

.subcripbe{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        overflow-x: auto; /* or overflow-x: scroll; */
        white-space: nowrap; /* Prevent items from wrapping */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; 
        user-select: none;
}

.channelname{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
}
.chanelown{
padding:20px 30px;
}
.channeluploads{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* align-items: center; */
        padding-top: 15px;
        gap: 15px;
}
.channeluploads .channelvedio{
        height: 170px;
 border-radius: 10px;
        width: 300px; 
}


.channelsubsc{
        display: flex;
        padding-top: 15px;
        width: 150px;
        flex-direction: column;
        align-items: center;
        gap: 7px;

}
.channelsubsc2{
        display: flex;
        padding-top: 15px;
        /* width: 150px; */
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
}
